.opacidad{
    filter: brightness(0.7);
}

.titulo{
    color:crimson;
}

.borde{
    border: 1px solid gainsboro;
}
.product-img2, .product-img3 {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
  }
  .product-img1 {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
  }

  
 